@page "/addbrand"
@using Goal.Client.Services.InterfaceServices;
@using Goal.Shared.Entities;

@inject IBrandService brandservice

<div class="row">
    <div class="col-md-6 offset-3">
        <h3 class="mt-2 mb-1">Додати бренд</h3>

        <EditForm Model="@newBrand" OnValidSubmit="HandleAddBrand">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="form-group mt-1">
                <label class="form-label" for="title">Назва</label>
                <InputText id="title" @bind-Value="newBrand.Name" class="form-control"></InputText>
                <ValidationMessage For="@(()=> newBrand.Name)"></ValidationMessage>
            </div>
            <div class="form-check mt-5">
                <button type="submit" class="btn btn-primary"> <i class="oi oi-plus"></i> Зберегти</button>
            </div>
        </EditForm>
    </div>
</div>



@code {
    public Brand newBrand = new Brand();
    async Task HandleAddBrand()
    {
        var response = await brandservice.AddBrand(newBrand);
    }

}
