@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Goal.Client.Pages.LoginDisplay> </Goal.Client.Pages.LoginDisplay>
        </div>
        <article class="content px-4">
            @Body
		</article>
        <footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p>Goal Sports Shop &copy; 2023. All rights reserved.</p>
					</div>
				</div>
			</div>
		</footer>
    </main>
    
</div>

