@using Microsoft.AspNetCore.Components.Authorization
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Goal Sports Shop</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Головна
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <span class="text-muted">Управління продуктами</span>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="add-product" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span> Додати
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="manage-products" Match="NavLinkMatch.All">
                    <span class="oi oi-arrow-circle-top" aria-hidden="true"></span> Редагувати/Видалити
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <span class="text-muted">Управління брендами</span>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="add-brand" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span> Додати
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="manage-brands" Match="NavLinkMatch.All">
                    <span class="oi oi-arrow-circle-top" aria-hidden="true"></span> Редагувати/Видалити
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <span class="text-muted">Управління категоріями</span>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="add-category" Match="NavLinkMatch.All">
                    <span class="oi oi-plus" aria-hidden="true"></span> Додати
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="manage-categories" Match="NavLinkMatch.All">
                    <span class="oi oi-arrow-circle-top" aria-hidden="true"></span> Редагувати/Видалити
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}